* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 60.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
html,
body {
    scroll-behavior: smooth;
}

/* ======================COMMON============================ */
.content {
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    min-width: 98px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 12px;
    background: var(--primary-color);
    padding: 15px 16px;
}

.btn:hover {
    opacity: 0.8;
}

.hero .signature {
    background: #0689ff;
    display: inline-block;
    border-radius: 99px;
    font-size: 2rem;
    padding: 0 12px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ===================HEADER========================= */
.anchor {
    height: calc(100vh - 95px);
    background: #e6f0ff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* =============FIXED-HEADER========= */
.fixed-header {
    background: #e6f0ff;
    padding-top: 24px;
    /*pt:24; = add the missing */
    position: sticky;
    /* phần thiếu -24px để khi roll không mất phần pt: 24; */
    top: -24px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

a {
    text-decoration: none;
}

.navbar ul a {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 18px;
}

.navbar .actions-btn {
    padding: 10px 15px;
}

/* ==============================HERO-BANNER======================================= */

.anchor .in4 {
    width: 51%;
}

.anchor .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.anchor .title {
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.18; /* 118.75% */
    margin-top: 8px;
}

.anchor .desc {
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
    margin-top: 30px;
}

.hero-btn {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ==========================================CLIENT===================================== */

.client {
    margin-top: 96px;
    padding: 43px 0 64px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .row-desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.client .row-desc {
    margin-top: 23px;
}

.client .brands {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.client .brands a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0px 42px;
    opacity: 0.9;
    border-radius: 12px;
}
.client .brands a:hover {
    box-shadow: 10px 8px 33px -6px rgba(0, 0, 0, 0.55);
}
.client .brands .brand-ama {
    height: 90px;
    object-fit: cover;
}
/* ===========================GUIDES============================= */

.guides {
    margin-top: 40px;
    padding: 79px 0;
}

.guides .title {
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    position: relative;
}

.guides .sub-title {
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    margin-top: 20px;
    max-width: 100%;
    width: 459px;
    margin: 20px auto 0;
}

.guides .title::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    top: -10px;
}

/* =================GUIDES=================== */

.guide-lists {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-items {
    margin: 0 70px;
    text-align: center;
}

.guide-title {
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-lists .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-lists .arrow {
    margin-left: 10px;
}

.guide-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*+++++++++++++++++++++++++++++++++++++++++FEATURES+++++++++++++++++++++++++++++++++++++++++++++++++++*/

.features {
    padding: 0 80px;
    background: #f5fafe;
    padding: 110px 0;
    margin: 120px 0;
}

.features .title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 15px;
}
.features .row {
    display: flex;
    justify-content: space-between;
}

.features .sub-title {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.features .link {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* ==============ITEMS============= */
.features .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.features .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.features .item {
    flex: 1;
    border-radius: 12px;
    background: #ffffff;
}

.features .item .body {
    padding: 17px 4px 24px;
    margin-left: 23px;
}

.features .item .real-estate {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 11px;
}

.features .in4 .desc {
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
}

.features .in4 .icon {
    margin-left: 22px;
}

.features .in4 .icon:first-child {
    margin-left: 0;
}

.features .in4 .label {
    color: #444;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    margin-left: 8px;
}

.features .item .in4 {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

/* =========================STATISTICS================================ */
.statistics {
    margin-top: 51px;
    padding: 50px 0;
    position: relative;
}

.statistics .content {
    width: 1050px;
}

.statistics .intro-row {
    display: flex;
}

.statistics .composite-photo,
.in4 {
    width: 50%;
}

.statistics .composite-photo .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 480px;
    object-fit: cover;
    border-radius: 12px;
}

.statistics .in4 {
    padding: 79px 0 0 165px;
}

.statistics .in4 .title {
    color: #000339;
    width: 269px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
    margin-bottom: 20px;
    position: relative;
}

.statistics .in4 .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    width: 309px;
}

.statistics .in4 .title::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 69px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -10px;
}

/* --------============---GRAPH---------- */
.statistics .composite-photo {
    position: relative;
}

.statistics-graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    background: #ffffff;
    border-radius: 0 0 12px 12px;
    padding: 45px 22px 40px;
}

.statistics .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: 0.26px;
}

.statistics-graph .icon {
    margin-left: 50px;
}

.statistics-graph .desc {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    margin-top: 8px;
}

.statistics-graph .bottom {
    height: 2px;
    background: #b9ffe0;
    border-radius: 99px;
    margin-top: 25px;
}
/* ========================avatar */
.statistics .avatar {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.statistics .tiny-photo:first-child {
    margin-left: 0;
}

.statistics .tiny-photo {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -7px;
}

.statistics .index {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    padding: 0 42px;
}
.statistics .row-numbers {
    margin-top: 110px;
    justify-content: space-between;
}

.statistics .numbers-desc {
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 22px;
    text-align: center;
}

/* ***************************SUBSCRIPTION*************************************** */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    height: 390px;
    border-radius: 20px;
    background: #063183;
    display: flex;
    position: relative;
}

.subscription .in4 {
    width: 671px;
    padding: 0 80px;
    max-width: 100%;
}
.subscription .title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-top: 125px;
}
.subscription .desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    margin-top: 15px;
    opacity: 0.75;
}

.subscription .btn {
    min-width: 150px;
    margin-top: 20px;
    background: #fff;
    color: #002366;
}
.subscription .image {
    position: absolute;
    bottom: 0;
    right: 234px;
}

/* ----------------------------FOOTER--------------------------- */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
    background: #e6f0ff;
}

.footer .row {
    display: flex;
}

/* affect the top of side */
.footer .row-top {
    gap: 185px;
}

.footer .list,
.footer .desc {
    margin-top: 24px;
}

.footer .items a {
    display: flex;
    margin-top: 18px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .heading {
    color: #1c1c1d;
    font-size: 2rem;
    font-weight: 700;
}

.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin-bottom: 40px;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .row-bottom .mono {
    background: #0689ff;
    display: inline-block;
    border-radius: 99px;
    font-size: 2rem;
    padding: 0 12px;
}
.footer .row-bottom .protect {
    width: 12px;
    height: 13px;
    border-radius: 50%;
}
